snippet leq "less than or equal to" w
\leq 
endsnippet

snippet geq "greater than or equal to" w
\geq 
endsnippet

snippet neq "not equal" w
\neq 
endsnippet

snippet in "in" w
\in 
endsnippet

snippet notin "not in" w
\notin 
endsnippet

snippet frac "fraction" w
\frac{$1}{$2}$0
endsnippet

snippet sim "similar" w
\sim 
endsnippet

snippet nsim "not similar" w
\notsim 
endsnippet

snippet perp "perpendicular to" w
\perp 
endsnippet