snippet ker "kernel" w
\operatorname{ker}
endsnippet

snippet gr "graph" w
\operatorname{gr}
endsnippet

snippet im "image" w
\operatorname{im}
endsnippet

snippet dim "dimension" w
\operatorname{dim}
endsnippet

snippet deg "degree" w
\operatorname{deg}
endsnippet

snippet supp "support" w
\operatorname{supp}
endsnippet
