snippet hat "widehat" w
\widehat{$1}$0
endsnippet

snippet bar "overline" w
\overline{$1}$0
endsnippet

snippet tilde "widetilde" w
\widetilde{$1}$0
endsnippet

snippet inv "inverse" w
{$1}^{-1}$0
endsnippet

snippet __ "subscript" iA
_{$1}$0
endsnippet

snippet -- "superscript" iA
^{$1}$0
endsnippet